@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

html,body {
    margin-top: 3rem;
    font-family: 'Sen', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.6;
    background: #f0f0f0;
}

.account-owner-img {
    width: 1.6rem;
}

.tweet-author-img {
    width: 3.2rem;
}

.tweet-detail-link {
    text-decoration: none;
    color: #000;
}

.search-btn {
    cursor: pointer !important;
}

.intro-logo {
    width: 4rem;
}