{% extends 'tweet/base.html' %}
{% load static %}

{% block content %}
    {% if tweets %}
        {% for tweet in tweets %}
            <div class="card my-3 p-3 shadow-sm">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle tweet-author-img" src="{{ tweet.author.profile.image.url }}" />
                        <h4 class="m-0 mx-3 p-0">
                            <a href="{% url 'user-tweets' tweet.author %}">
                                {{ tweet.author }}
                            </a>
                        </h4>
                    </div>
                    <div>
                        {% if tweet.author == user %}
                        <div>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'tweet-update' tweet.id %}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tweet-delete' tweet.id %}"><i class="fa fa-trash"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr />
                <p>
                    <a class="tweet-detail-link" href="{% url 'tweet-detail' tweet.id %}">
                        {{ tweet.content }}
                    </a>
                </p>
                <hr />
                <div class="d-flex justify-content-between">
                    <div class="comments">
                        <a class="tweet-detail-link" href="{% url 'tweet-detail' tweet.id %}">
                            {{ tweet.number_of_comments }} comments
                        </a>
                    </div>
                    <div class="time">
                        {{ tweet.date_posted }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="card shadow-sm p-3">
        <div class="text-center">
            <h1 class="display-4 font-weight-bold">Welcome!</h1>
            <img class="img-fluid w-25 mb-3" src="{% static 'img/logo.png' %}" />
        <p>
            Welcome to Twitter Clone, this is home page where you can see tweets
            of other people you follow. You can also create tweets by clicking Tweet
            button in the navigation bar up.
            <div class="nav-link text-dark font-weight-bold">
                Tweet <i class="fa fa-pencil"></i>
            </div>
        </p>
        </div>
    </div>
    {% endif %}
    <div class="text-center">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>
{% endblock content %}