{% extends "tweet/base.html" %}

{% block content %}
    <div class="card p-3">
        <form method="POST">
            {% csrf_token %}
                <h1 class="font-weight-bold mb-4ss">Delete Tweet</h1>
                <h3>Are you sure you want to delete this tweet?</h3>
                <div class="card shadow-sm my-3 p-3">
                    <h4 class="m-0 p-0">
                        <span>
                            {{ object.author }}
                        </span>
                    </h4>
                    <hr />
                    {% if object.image %}
                        <div class="img-container">
                            <img src="{{ object.image.url }}" alt="">
                        </div>
                    {% endif %}
                    <p>{{ object.content }}</p>
                    <hr />
                    <div class="d-md-flex justify-content-between">
                    <div class="like-comments">
                        <a class="likebtn text-dark border p-2" id="co">
                            <span name="total_likes_{{ tweet.id }}">{{ tweet.total_likes }}</span>
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                        <a class="tweet-detail-link border p-2" href="{% url 'tweet-detail' tweet.id %}">
                            {{ tweet.number_of_comments }} comments
                        </a>
                    </div>
                    <div class="time mt-3 mt-sm-0">
                        {{ tweet.date_posted }}
                    </div>
                </div>
                </div>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'tweet-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}