{% extends "tweet/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3">
        <h1 class="mb-5 font-weight-bold">Update Profile</h1>
        <img class="rounded-circle w-50 mx-auto" src="{{ user.profile.image.url }}">
        <p class="mt-3 mb-0">Username: <span class="text-secondary font-weight-bold">{{ user.username }}</span></p>
        <p class="m-0 p-0">Email: <span class="text-secondary font-weight-bold">{{ user.email }}</span></p>
    </div>
{% endblock content %}